{% extends "base.html" %}
{% block title %}Payment canceled{% endblock %}
{% block blank %}
<!-- Page title-->
<!-- Page Content-->
<div class="container pb-5 mb-sm-4">
  <div class="pt-5">
    <div class="card py-3 mt-sm-3">
      <div class="card-body text-center">
        {% if messages %}
        {% for message in messages %}
        <h2 class="h4 pb-3">{{ message }}</h2>
        {% endfor %}
        {% endif %}
        <p class="font-size-sm">Please try again.</p>
        <a class="btn btn-secondary mt-3 mr-3" href="{% url 'essentials:product_list' %}">Go back shopping</a><a class="btn btn-primary mt-3" href="{% url 'payment:pay_for_credit' %}"><i class="czi-announcement"></i>&nbsp;Try Again</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
