{% extends "base.html" %}
{% block title %}
  Checkout
{% endblock %}
{% block blank %}
<!-- <ul>
  {% for item in cart %}
    <li>
      {{ item.quantity }}x {{ item.product.name }}
      <span>${{ item.total_price|floatformat:2 }}</span>
    </li>
  {% endfor %}
  {% if cart.coupon %}
    <li>
      "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
      <span class="neg">- ${{ cart.get_discount|floatformat:2 }}</span>
    </li>
  {% endif %}
</ul>

<p>Total: ${{ cart.get_total_price_after_discount|floatformat:2 }}</p> -->
<!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="#"><i class="czi-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="#">Shop</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Checkout</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
          <h1 class="h3 text-light mb-0">Checkout</h1>
        </div>
      </div>
    </div>
    <!-- Page Content-->
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <section class="col-lg-8">
          <!-- Steps-->
          <div class="steps steps-light pt-2 pb-3 mb-5"><a class="step-item active" href="{% url 'cart:cart_detail' %}">
              <div class="step-progress"><span class="step-count">1</span></div>
              <div class="step-label"><i class="czi-cart"></i>Cart</div></a><a class="step-item active current" href="{% url 'cart:cart_detail' %}">
              <div class="step-progress"><span class="step-count">2</span></div>
              <div class="step-label"><i class="czi-package"></i>Shipping details</div></a><a class="step-item" href="{% url 'orders:order_create' %}">
              <div class="step-progress"><span class="step-count">3</span></div>
              <div class="step-progress"><span class="step-count">3</span></div>
              <div class="step-label"><i class="czi-card"></i>Payment</div></a><a class="step-item">
              <div class="step-progress"><span class="step-count">4</span></div>
              <div class="step-label"><i class="czi-check-circle"></i>Review</div></a></div>
          <!-- Autor info-->
          {% comment %} <div class="d-sm-flex justify-content-between align-items-center bg-secondary p-4 rounded-lg mb-grid-gutter">
            <div class="media align-items-center">
              <div class="img-thumbnail rounded-circle position-relative" style="width: 6.375rem;"><span class="badge badge-warning" data-toggle="tooltip" title="Reward points">384</span><img class="rounded-circle" src="img/shop/account/avatar.jpg" alt="Susan Gardner"></div>
              <div class="media-body pl-3">
                <h3 class="font-size-base mb-0">Susan Gardner</h3><span class="text-accent font-size-sm">s.gardner@example.com</span>
              </div>
            </div><a class="btn btn-light btn-sm btn-shadow mt-3 mt-sm-0" href="#"><i class="czi-edit mr-2"></i>Edit profile</a>
          </div> {% endcomment %}
          <!-- Shipping address-->
          <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Shipping info</h2>
          <form method="post" enctype="multipart/form-data" action="{% url 'orders:order_create' %}" novalidate>
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="font-weight-medium" for="id_recipient">Your Customer's Fullname <small class="text-muted">( if any )</small></label>
                  <input class="form-control" type="text" name="recipient" maxlength="50" id="id_recipient" required="false">
                  {% comment %} <input class="form-control" type="text" id="checkout-fn"> {% endcomment %}
                </div>
              </div>
            </div>
            
            <!-- Drag and drop file upload -->
            <div class="row">
              <div class="col-sm-12">
                <label class="font-weight-medium" for="id_shipping_label">Shipping label <small class="text-muted">( if any )</small></label>
                <div class="cz-file-drop-area">
                  <div class="cz-file-drop-icon czi-cloud-upload"></div>
                  <span class="cz-file-drop-message">Drag and drop shipping label to upload</span>
                  <input class="cz-file-drop-input" type="file" name="shipping_label" id="id_shipping_label" required="false">
                  <button type="button" class="cz-file-drop-btn btn btn-primary btn-sm">Or select shipping label</button>
                </div>
              </div>
            </div>
            <div class="form-group mb-4 mt-3">
              <label class="mb-3" for="note"><span class="badge badge-info font-size-xs mr-2">Note</span><span class="font-weight-medium">  Additional comments</span></label>
              <textarea class="form-control" name="note" cols="30" rows="3" maxlength="1000" id="id_note" spellcheck="false"></textarea>
            </div>
            <div class="form-group mb-4 mt-3">
              <label class="mb-3" for="attachment"><span class="badge badge-info font-size-xs mr-2">Attachment</span></label>
              <input type="file" name="attachment" id="id_attachment" class="form-control">
            </div>
            
            
            <!-- Navigation (desktop)-->
            <div class="d-none d-lg-flex pt-4 mt-3">
              <div class="w-50 pr-3">
                <a class="btn btn-secondary btn-block" href="{% url 'cart:cart_detail' %}"><i class="czi-arrow-left mt-sm-0 mr-1"></i>
                  <span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span>
                </a>
              </div>
              <button class="w-50 btn btn-primary btn-block" type='submit'>Proceed to Payment<i class="czi-arrow-right mt-sm-0 ml-1"></i></button>
            </div>
          </form>
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0">
          <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
            <div class="widget mb-3">
              <h2 class="widget-title text-center">Order summary</h2>
              {% for item in cart %}
              {% if item.type == 'digital' %}
              <div class="media align-items-center pb-2 border-bottom"><a class="d-block mr-2" href="{{ item.product.get_absolute_url }}"><img width="64" src="{{ item.product.design_images.first.image.url }}" alt="{{ item.product.title }}"/></a>
                <div class="media-body">
                  <h6 class="widget-product-title"><a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a></h6>
                  <div class="widget-product-meta"><span class="text-accent mr-2">${{ item.product.price }}</span><span class="text-muted">x {{ item.quantity}}</span></div>
                </div>
              </div>
              {% elif item.type == 'custom' %}
              <div class="media align-items-center pb-2 border-bottom"><a class="d-block mr-2" ><img width="64" src="{{ item.end_product_img }}" alt="Product"/></a>
                <div class="media-body">
                  <h6 class="widget-product-title"><a>{{ item.product.variant.product.title }}</a></h6>
                  <div class="font-size-sm"><small><span class="text-muted mr-2">Size:</span>{{ item.size }}</small></div>
                  <div class="font-size-sm"><small><span class="text-muted mr-2">Color:</span>{{ item.color }}</small></div>
                  <div class="widget-product-meta"><span class="text-accent mr-2">${{ item.price }}</span><span class="text-muted">x {{ item.quantity}}</span></div>
                </div>
              </div>
              {% else %}
              <div class="media align-items-center pb-2 border-bottom"><a class="d-block mr-2" ><img width="64" src="{{ item.end_product_img }}" alt="{{ item.product }}"/></a>
                <div class="media-body">
                  <h6 class="widget-product-title"><a>{{ item.product.product.title }}</a></h6>
                  <div class="font-size-sm"><small><span class="text-muted mr-2">Size:</span>{{ item.product.size }}</small></div>
                  <div class="font-size-sm"><small><span class="text-muted mr-2">Color:</span>{{ item.product.color }}</small></div>
                  <div class="widget-product-meta"><span class="text-accent mr-2">${{ item.price }}</span><span class="text-muted">x {{ item.quantity}}</span></div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <ul class="list-unstyled font-size-sm pb-2 border-bottom">
              <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Subtotal:</span><span class="text-right">${{ cart.get_total_price }}</span></li>
              {% comment %} <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Shipping:</span><span class="text-right">—</span></li>
              <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Taxes:</span><span class="text-right">$9.<small>50</small></span></li>
              <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Discount:</span><span class="text-right">—</span></li> {% endcomment %}
            </ul>
            <h3 class="font-weight-normal text-center my-4">${{ cart.get_total_price }}</h3>
            <!-- <form action="{% url 'orders:order_create' %}" method="POST">
              <div class="form-group mb-4">
                <label class="mb-3" for="order-comments"><span class="badge badge-info font-size-xs mr-2">Note</span><span class="font-weight-medium">  Additional comments</span></label>
                <textarea class="form-control" name="note" cols="30" rows="6" maxlength="1000" id="id_note" spellcheck="false"></textarea>
                
              </div>
            </form> -->
            <form class="needs-validation" method="post" novalidate>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Promo code" required>
                <div class="invalid-feedback">Please provide promo code.</div>
              </div>
              <button class="btn btn-outline-primary btn-block" type="submit">Apply promo code</button>
            </form>
          </div>
        </aside>
      </div>
      <!-- Navigation (mobile)-->
      <div class="row d-lg-none">
        <div class="col-lg-8">
          <div class="d-flex pt-4 mt-3">
            <div class="w-50 pr-3"><a class="btn btn-secondary btn-block" href="{% url 'cart:cart_detail' %}"><i class="czi-arrow-left mt-sm-0 mr-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>
            <div class="w-50 pl-2">
              <form method="POST" action="{% url 'orders:order_create' %}">{% csrf_token %}
                <a class="btn btn-primary btn-block" href="{% url 'payment:process' %}">
                  <span class="d-none d-sm-inline">Proceed to Payment</span>
                  <span class="d-inline d-sm-none">Next</span><i class="czi-arrow-right mt-sm-0 ml-1"></i>
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
