{{ variant}} {{ variant.size}} {{ variant.color }}
<script>
$(document).ready(function(){
  var canvasModifiedCallback = function() {
        console.log('canvas modified!');
        var dataUrl = canvas.toDataURL();
        $('#id_design').val(dataUrl);
        canvas.renderAll();
        
        var node = document.getElementById('tshirt-div');
        domtoimage.toPng(node).then(function (dataUrl) {
            
            var img = new Image();
            var options = {
            quality: 0.99,
            };
            img.src = dataUrl;
            //document.body.appendChild(img);
            $('#id_end_product_img').val(dataUrl) 
            
        }).catch(function (error) {
          console.error('oops, something went wrong!', error);
        });
    };

    canvas.on('object:added', canvasModifiedCallback);
    canvas.on('object:removed', canvasModifiedCallback);
    canvas.on('object:modified', canvasModifiedCallback);

    function ajax_change_color(){
        $.ajax({ 
          url: "{% url 'essentials:change_color' %}",
          data: {
              'product_id':$('#productid').val(),
              'place_id': $('.cz-thumblist-item.active').attr('id'),
              'method_id': $( "#technique" ).val(),
              'size_id': $('#size-selector').val(),
              'color_id': $('input[name=colorid]:checked', '#post-color').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]', '#post-color').val(),
          },
          dataType: 'json',
          success:  function(data){
              let texture = data.color_id.startsWith("/");
              console.log('calisan burasi')
              console.log(data.color_id)  
              console.log(texture)
              if (texture) {
              document.getElementById("tshirt-div").style.backgroundImage = "url(" + data.color_id + ")";
              $(".thumbnail_image").css("background-image", "url(" + data.color_id + ")");
              
              } else {
                if(document.getElementById("tshirt-div").style.backgroundImage){
                  $("#tshirt-div").css('background-image', 'none');
                  $(".thumbnail_image").css('background-image', 'none');
                };
                document.getElementById("tshirt-div").style.backgroundColor = data.color_id;
                $(".thumbnail_image").css("background-color", data.color_id);
              };
  
              $('#price').text("$"+data.price_all_included);
  
              $('#addToCartAppend').html(data.variant_add_to_cart_url);
              console.log(data);
          }
        });
      };
  
  
      $('input[name=colorid]', '#post-color').change(function(){
        //setTimeout(ajax_change_color(),1000)
        // ajax_change_color();
      });

      function ajax_change_method(){
        var tech = $( "#technique" ).val();
        $( "#id_technique" ).val(tech);
        $.ajax({ 
          url: "{% url 'essentials:change_method' %}",
          data: {
            'product_id':$('#productid').val(),
            'place_id': $('.cz-thumblist-item.active').attr('id'),
            'method_id': $( "#technique" ).val(),
            'size_id': $('#size-selector').val(),
            'color_id': $('input[name=colorid]:checked', '#post-color').val(),
          },
          dataType: 'json',
          success: function(data){
            // console.log(data.price_all_included); 
            $('#price').text("$"+data.price_all_included);
          }
        });
  
      };
  
      // send ajax request on load print metodunu saptamak icin
      ajax_change_method();
  
      // send ajax request on change print metodunu saptamak icin
      $(document).on('change', '#post-technique',function(e){
        var tech = $( "#technique" ).val();
        $( "#id_technique" ).val(tech);
        ajax_change_method();
      });

      function apply_current_price(){
        $.ajax({
          url : '{% url "essentials:change_place" %}', // the endpoint
          data : {
            'product_id':$('#productid').val(),
            'place_id': $('.cz-thumblist-item.active').attr('id'),
            'method_id': $( "#technique" ).val(),
            'size_id': $('#size-selector').val(),
            'color_id': $('input[name=colorid]:checked', '#post-color').val(),
          }, // data sent with the post request
          dataType: 'json',
          // handle a successful response
          success : function(data) {
              // console.log(data.price_all_included); 
              $('#price').text("$"+data.price_all_included);
          },       
        });
      };
  
      $('#post-placement').on('click', function(event){
        event.preventDefault(); 
        apply_current_price();
      });

      function apply_placement_id(){
        var placement_id = $('.cz-thumblist-item.active').attr('id');
        $( "#id_placement" ).val(placement_id);
      };
  
      $('.cz-thumblist-item').on('click', function(event){
        var place_id = $('.cz-thumblist-item.active').attr('id');
        apply_placement_id();
        ajax_dynamic_canvas();
      });
  
      setTimeout(apply_placement_id(),1000);

      function rasterizeJSON(){
      // raterized = JSON.stringify(canvas.toObject());
      raterized = JSON.stringify(canvas.toDatalessJSON());
      // localStorage.setItem('Kanvas', raterized);
      // sessionStorage.setItem("lastname", raterized);
      $('#id_json_data').val(raterized);
    };

      function add_to_cart() {
      canvas.discardActiveObject();
      canvas.renderAll();
      $(document.body).css({'cursor' : 'wait'});
      $( "#addtocartButton" ).addClass('disabled');
      var add_to_cart_form = $('#addtocartform');
      var action = add_to_cart_form.attr('action');
      var method = add_to_cart_form.attr('method');
      var cart_data = add_to_cart_form.serialize();
      $.ajax({
          url : action, // the endpoint
          type : method, // http method
          data : cart_data, // data sent with the post request
          // handle a successful response
          success : function(data) {
              console.log("success"); // another sanity check
              location.href = '/cart/'
              $(document.body).css({'cursor' : 'default'});
          },
          // handle a non-successful response
          error : function(xhr,errmsg,err) {
            $(document.body).css({'cursor' : 'default'});
              $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                  " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      });
    };

    $('#addtocartform').on('submit', function(event){
      event.preventDefault();
      console.log("form submitted!"); 
      rasterizeJSON();
      setTimeout(add_to_cart(),3000);
    });

    $( "#addtocartform" ).mouseover(function() {
      canvas.discardActiveObject();
      canvas.renderAll();
    });
});
</script>
<form id="addtocartform" method="POST" enctype="multipart/form-data" action="{% url 'cart:cart_add' id %}">
    <div class="d-flex align-items-center pt-4 pb-4">
        
        {{ form }}
        {% csrf_token %}
        <input id='addtocartButton' type="submit" class="btn btn-primary btn-shadow btn-block" value="Add to cart">
        
    </div>
</form>