<input type="hidden" name="size" id="size" value="{{ size_id }}">
{% for rs in colors %}
    <div class="custom-control custom-option custom-control-inline mb-2">
        <input class="custom-control-input" data-label="colorOption" type="radio" name="variantid" id="{{ rs.color.id}}" onchange="this.form.submit();"  value="{{ rs.id }}" {% if ajax_variant.id == rs.id %} checked {% endif %} >
        <label class="custom-option-label rounded-circle" for="{{ rs.color.id }}"><span class="custom-option-color rounded-circle" style="background-image: url({{ rs.color.color_tag.url }})"></span></label>
        
        {% comment %} <input type="radio" name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
        <a>{{ rs.color }}</a> {% endcomment %}
    </div>
    {% if ajax_variant.id == rs.id %}
    <script>
        $( "#post-color" ).submit();
    </script>
    {% endif %}
{% endfor %}