{% extends "base.html" %}
{% load static %}
{% block title %}
  My shopping cart | Context Custom
{% endblock %}

{% block javascript %}
<script>
  $( document ).ready(function() {

  })
</script>
{% endblock %}

{% block blank %}

<!-- {% if cart.coupon %}
  <tr class="subtotal">
    <td>Subtotal</td>
    <td colspan="4"></td>
    <td class="num">${{ cart.get_total_price|floatformat:2 }}</td>
  </tr>
  <tr>
    <td>
      "{{ cart.coupon.code }}" coupon
      ({{ cart.coupon.discount }}% off)
    </td>
    <td colspan="4"></td>
    <td class="num neg">
      - ${{ cart.get_discount|floatformat:2 }}
    </td>
  </tr>
{% endif %} 
<tr class="total">
  <td>Total</td>
  <td colspan="4"></td>
  <td class="num">
    ${{ cart.get_total_price_after_discount|floatformat:2 }}
  </td>
</tr>

<p>Apply a coupon:</p>
<form action="{% url "coupons:apply" %}" method="post">
  {{ coupon_apply_form }}
  <input type="submit" value="Apply">
  {% csrf_token %}
</form> -->


  <div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="text-nowrap" href="#"><i class="czi-home"></i>Home</a></li>
            <li class="breadcrumb-item text-nowrap"><a href="#">Shop</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Cart</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">My cart</h1>
      </div>
    </div>
  </div>
  <!-- Page Content-->
  <div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
      <!-- List of items-->
      <section class="col-lg-8">
        <div class="d-flex justify-content-between align-items-center pt-3 pb-2 pb-sm-5 mt-1">
          <h2 class="h6 text-light mb-0">Products</h2><a class="btn btn-outline-primary btn-sm pl-2" href="{% url 'essentials:product_list' %}"><i class="czi-arrow-left mr-2"></i>Continue shopping</a>
        </div>
        <!-- Item-->
        {% if cart %}
        {% for item in cart %}
        {% if item.type == 'digital' %}
        {% with design=item.product %}
        <div class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom">
          <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left"><a class="d-inline-block mx-auto mr-sm-4" href="{{ design.get_absolute_url }}" style="width: 10rem;"><img src="{{ design.image.url }}" alt="{{ design.title }}"></a>
            <div class="media-body pt-2">
              <h3 class="product-title font-size-base mb-2"><a href="{{ design.get_absolute_url }}">{{ design.title }}</a></h3>
              <!-- <div class="font-size-sm"><span class="text-muted mr-2">Placement:</span>{{ item.placement}}</div> -->
              <div class="font-size-lg text-accent pt-2">${{ design.price }}</div>
            </div>
          </div>
          <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
            <!-- {{ item.update_quantity_form.quantity }} -->
            
            <!-- <div class="form-group mb-0">
              <label class="font-weight-medium" for="quantity1">Quantity</label>
              <input class="form-control" type="number" id="quantity1" value={{ item.quantity }}>
            </div> -->
          </div>
          
          <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
            <form action="{% url 'cart:cart_remove_design_for_sale' design.pk %}" method="post">
              {% csrf_token %}
              <button class="btn btn-link px-0 text-danger" type="submit"><i class="czi-trash mr-2"></i></button>
            </form>
          </div>
          
        </div>

        {% endwith %}
        
        {% elif item.type == 'custom' %}
          {% with design=item.product %}
          <div class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom">
            <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left"><img style="width: 10rem;" class="d-inline-block mx-auto mr-sm-4" src="{% if item.end_product_img %}{{ item.end_product_img }}{% else %}{{ design.variant.product.image.url }}{% endif %}" alt="product image">
              <div class="media-body pt-2">
                <h3 class="product-title font-size-base mb-2">{{ design.variant.product }}</h3>
                <!-- <div class="font-size-sm"><span class="text-muted mr-2">Placement:</span>{{ item.placement}}</div> -->
                <div class="font-size-sm"><span class="text-muted mr-2">Technique:</span>{{ item.technique}}</div>
                <div class="font-size-sm"><span class="text-muted mr-2">Placement:</span>{{ item.placement}}</div>
                <div class="font-size-sm"><span class="text-muted mr-2">Size:</span>{{ item.size}}</div>
                <div class="font-size-sm"><span class="text-muted mr-2">Color:</span>{{ design.variant.color.name }}</div>
                <div class="font-size-sm"><span class="text-muted mr-2">Print File:</span>
                  <div class="text-center" id="printFile" style="vertical-align:middle; background-image: url('https://images.assetsdelivery.com/compings_v2/vectorlightstudio/vectorlightstudio2002/vectorlightstudio200200004.jpg'); background-size: contain; height: 75px;">
                    <img style="height: 75px;" src="{{ item.design }}" alt="" class="rounded mx-auto d-block">
                  </div>
                </div>
                <div class="font-size-lg text-accent pt-2">${{ item.price }}</div>
              </div>
            </div>
            <form id="{{ design.pk }}" class="update_form"  action="{% url 'cart:cart_update' design.variant.id design.pk %}" method="post">
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                {% csrf_token %}
            </div>
            </form>
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
              <button onclick="$('#{{ design.pk }}').submit();" class="btn btn-link px-0 text-accent" type="submit" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="czi-loading mr-2"></i></button>
            </div>
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
              <form action="{% url 'cart:cart_remove' design.uuid %}" method="post">
                {% csrf_token %}
                <button class="btn btn-link px-0 text-danger" type="submit"><i class="czi-trash mr-2"></i></button>
              </form>
            </div>
            
          </div>
          {% endwith %}
        {% else%}
          {% with blank=item.product %}
          <div class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom">
            <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left">
              <a href="{{ blank.product.get_absolute_url }}">
                <img style="width: 10rem; {% if blank.color.texture %}background-image:url({{ blank.color.texture.url }}) {% else %} background-color:{{ blank.color.color_code }} {% endif %};" class="d-inline-block mx-auto mr-sm-4" src="{% if blank.product.placements.first.image %}{{ blank.product.placements.first.image.url }}{% endif %}" alt="{{ blank }}">
              </a>
              <div class="media-body pt-2">
                <h3 class="product-title font-size-base mb-2"><a href="{{ blank.product.get_absolute_url }}">{{ blank.product.title }}</a></h3>
                <div class="font-size-sm"><span class="text-muted mr-2">Size:</span>{{ blank.size}}</div>
                <div class="font-size-sm"><span class="text-muted mr-2">Color:</span>{{ blank.color }}</div>
                <div class="font-size-lg text-accent pt-2">${{ blank.price }}</div>
              </div>
            </div>
            <form id="{{ blank.uuid }}" class="update_form" action="{% url 'cart:cart_add_blank' blank.uuid %}" method="post">
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                {% csrf_token %}
            </div>
            </form>
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
              <button onclick="$('#{{ blank.uuid }}').submit();" class="btn btn-link px-0 text-accent" type="submit" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="czi-loading mr-2"></i></button>
            </div>
            <div></div>
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
              <form action="{% url 'cart:cart_remove' blank.uuid %}" method="post">
                {% csrf_token %}
                <button class="btn btn-link px-0 text-danger" type="submit" data-toggle="tooltip" data-placement="bottom" title="Remove"><i class="czi-trash mr-2"></i></button>
              </form>
            </div>
          </div>
          {% endwith %}
        {% endif %}
        {% endfor %}
        {% else%}
        <h6 class="text-center mt-5">You don't have any items in your cart. <a href="{% url 'essentials:product_list' %}">Go Shopping!</a></h6>
        {% endif %}
        
        <!-- <button class="btn btn-outline-accent btn-block" type="button"><i class="czi-loading font-size-base mr-2"></i>Update cart</button> -->
      </section>
      <!-- Sidebar-->
      <aside class="col-lg-4 pt-4 pt-lg-0">
        <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
          <div class="text-center mb-4 pb-3 border-bottom">
            <h2 class="h6 mb-3 pb-1">Subtotal</h2>
            <h3 class="font-weight-normal">${{ cart.get_total_price }}</h3>
          </div>
          <!-- <div class="form-group mb-4">
            <label class="mb-3" for="order-comments"><span class="badge badge-info font-size-xs mr-2">Note</span><span class="font-weight-medium">  Additional comments</span></label>
            <textarea class="form-control" rows="6" id="order-comments"></textarea>
          </div> -->
          <div class="accordion" id="order-options">
            <div class="card">
              <div class="card-header">
                <h3 class="accordion-heading"><a href="#promo-code" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="promo-code">Apply promo code<span class="accordion-indicator"></span></a></h3>
              </div>
              <div class="collapse show" id="promo-code" data-parent="#order-options">
                <form class="card-body needs-validation" method="post" novalidate>
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Promo code" required>
                    <div class="invalid-feedback">Please provide promo code.</div>
                  </div>
                  <button class="btn btn-outline-primary btn-block" type="submit">Apply promo code</button>
                </form>
              </div>
            </div>
            <!-- <div class="card">
              <div class="card-header">
                <h3 class="accordion-heading"><a class="collapsed" href="#shipping-estimates" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="shipping-estimates">Shipping estimates<span class="accordion-indicator"></span></a></h3>
              </div>
              <div class="collapse" id="shipping-estimates" data-parent="#order-options">
                <div class="card-body">
                  <form class="needs-validation" novalidate>
                    <div class="form-group">
                      <select class="form-control custom-select" required>
                        <option value="">Choose your country</option>
                        <option value="Australia">Australia</option>
                        <option value="Belgium">Belgium</option>
                        <option value="Canada">Canada</option>
                        <option value="Finland">Finland</option>
                        <option value="Mexico">Mexico</option>
                        <option value="New Zealand">New Zealand</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="United States">United States</option>
                      </select>
                      <div class="invalid-feedback">Please choose your country!</div>
                    </div>
                    <div class="form-group">
                      <select class="form-control custom-select" required>
                        <option value="">Choose your city</option>
                        <option value="Bern">Bern</option>
                        <option value="Brussels">Brussels</option>
                        <option value="Canberra">Canberra</option>
                        <option value="Helsinki">Helsinki</option>
                        <option value="Mexico City">Mexico City</option>
                        <option value="Ottawa">Ottawa</option>
                        <option value="Washington D.C.">Washington D.C.</option>
                        <option value="Wellington">Wellington</option>
                      </select>
                      <div class="invalid-feedback">Please choose your city!</div>
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="ZIP / Postal code" required>
                      <div class="invalid-feedback">Please provide a valid zip!</div>
                    </div>
                    <button class="btn btn-outline-primary btn-block" type="submit">Calculate shipping</button>
                  </form>
                </div>
              </div>
            </div> -->
          </div><a class="btn btn-primary btn-shadow btn-block mt-4" href="{% url 'orders:order_create' %}"><i class="czi-card font-size-lg mr-2"></i>Proceed to Checkout</a>
        </div>
      </aside>
    </div>
  </div>
  
{% endblock %}



