<section class="container py-lg-4 mb-4">
    <h2 class="h3 text-center pb-4">Brands</h2>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" ><img class="d-block mx-auto" src="https://contextcustom.com/static/img/illustrations/CONTEX%20(1).png" style="width: 200px;" alt="Context Custom"></a></div>
      <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" ><img class="d-block mx-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Gildan_logo.svg/206px-Gildan_logo.svg.png" style="width: 200px;" alt="Gildan"></a></div>
      <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" ><img class="d-block mx-auto" src="https://www.shopelitepromo.com/v/vspfiles/assets/images/BELLA_CANVAS_LOGO.jpg" style="width: 200px;" alt="Brand"></a></div>
    </div>
</section>