{% load static %}
<!-- Categories grid-->
<div class="row pt-5">
    <!-- Catogory-->
    {% for parent in parent_categories %}
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card border-0"><a class="d-block overflow-hidden rounded-lg" href="{{ parent.get_absolute_url }}"><img class="d-block w-100" src="{% if parent.image %}{{ parent.image.url }}{% endif %}" alt="{{ parent.slug }}"></a>
        <div class="card-body">
          <h2 class="h5">{{ parent.title }}</h2>
          <ul class="list-unstyled font-size-sm mb-0">
            {% for subcat in parent.children.all %}
            <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="{{ subcat.get_absolute_url }}"><i class="czi-arrow-right-circle mr-2"></i>{{ subcat.title }}</a></li>
            {% endfor %}
            <li>
              <hr>
            </li>
            <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="{{ parent_get_absolute_url }}"><i class="czi-arrow-right-circle mr-2"></i>View All</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
</div>