{% load static %}
<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i>Home</a></li>
            
            {% if category %}
              {% if category.parent %}
              <li class="breadcrumb-item text-nowrap" aria-current="page"> <a href="{{ category.parent.get_absolute_url }}">{{ category.parent.title }}</a></li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">{{ category.title }}</li>
              {% else %}
              <li class="breadcrumb-item text-nowrap active" aria-current="page">{{ category.title }}</li>
              {% endif %}
            {% else %}
              <li class="breadcrumb-item text-nowrap active"><a href="{% url 'essentials:product_list' %}">Product Catalog</a></li>
            {% endif %}
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0"> <a href="{% url 'essentials:product_list' %}">Product Catalog</a></h1>
      </div>
    </div>
  </div>
  <!-- Page Content-->
  <div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
      <!-- Sidebar-->
      <aside class="col-lg-4">
        <!-- Sidebar-->
        <div class="cz-sidebar rounded-lg box-shadow-lg" id="shop-sidebar">
          <div class="cz-sidebar-header box-shadow-sm">
            <button class="close ml-auto" type="button" data-dismiss="sidebar" aria-label="Close"><span class="d-inline-block font-size-xs font-weight-normal align-middle">Close sidebar</span><span class="d-inline-block align-middle ml-2" aria-hidden="true">&times;</span></button>
          </div>
          <div class="cz-sidebar-body">
            <!-- Categories-->
            <div class="widget widget-categories mb-4 pb-4 border-bottom">
              <h3 class="widget-title">Categories</h3>
              <div class="accordion mt-n1" id="shop-categories">
                <!-- Shoes-->
                <!-- {{ categories }}
                  {{ category }} -->
                {% for parent_title in parent_categories %}
                <div class="card">
                  
                  <div class="card-header">
                    <h3 class="accordion-heading"><a class="collapsed" href="#{{ parent_title.slug }}" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="{{ parent_title }}">{{ parent_title }}<span class="accordion-indicator"></span></a></h3>
                  </div>
                  <div class="collapse" id="{{ parent_title.slug }}" data-parent="#shop-categories">
                    <div class="card-body">
                      <div class="widget widget-links cz-filter">
                        <!-- <div class="input-group-overlay input-group-sm mb-2">
                          <input class="cz-filter-search form-control form-control-sm appended-form-control" type="text" placeholder="Search">
                          <div class="input-group-append-overlay"><span class="input-group-text"><i class="czi-search"></i></span></div>
                        </div> -->
                        <ul class="widget-list cz-filter-list pt-1" style="height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
                          <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" href="{{ parent_title.get_absolute_url }}"><span class="cz-filter-item-text">VIEW ALL {{ parent_title.title }}</span></a></li>
                          {% for subcat in parent_title.children.all %}
                          <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" href="{{ subcat.get_absolute_url }}"><span class="cz-filter-item-text">{{ subcat.title }}</span></a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <!-- Price range-->
            <!-- <div class="widget mb-4 pb-4 border-bottom">
              <h3 class="widget-title">Price</h3>
              <div class="cz-range-slider" data-start-min="250" data-start-max="680" data-min="0" data-max="1000" data-step="1">
                <div class="cz-range-slider-ui"></div>
                <div class="d-flex pb-1">
                  <div class="w-50 pr-2 mr-2">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                      <input class="form-control cz-range-slider-value-min" type="text">
                    </div>
                  </div>
                  <div class="w-50 pl-2">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                      <input class="form-control cz-range-slider-value-max" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- Filter by Brand-->
            <!-- <div class="widget cz-filter mb-4 pb-4 border-bottom">
              <h3 class="widget-title">Brand</h3>
              <div class="input-group-overlay input-group-sm mb-2">
                <input class="cz-filter-search form-control form-control-sm appended-form-control" type="text" placeholder="Search">
                <div class="input-group-append-overlay"><span class="input-group-text"><i class="czi-search"></i></span></div>
              </div>
              <ul class="widget-list cz-filter-list list-unstyled pt-1" style="max-height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
                <li class="cz-filter-item d-flex justify-content-between align-items-center">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="wrangler">
                    <label class="custom-control-label cz-filter-item-text" for="wrangler">Wrangler</label>
                  </div><span class="font-size-xs text-muted">115</span>
                </li>
              </ul>
            </div> -->
            <!-- Filter by Size-->
            <!-- <div class="widget cz-filter mb-4 pb-4 border-bottom">
              <h3 class="widget-title">Size</h3>
              <div class="input-group-overlay input-group-sm mb-2">
                <input class="cz-filter-search form-control form-control-sm appended-form-control" type="text" placeholder="Search">
                <div class="input-group-append-overlay"><span class="input-group-text"><i class="czi-search"></i></span></div>
              </div>
              <ul class="widget-list cz-filter-list list-unstyled pt-1" style="max-height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
                <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="size-xs">
                    <label class="custom-control-label cz-filter-item-text" for="size-xs">XS</label>
                  </div><span class="font-size-xs text-muted">34</span>
                </li>
              </ul>
            </div> -->
            <!-- Filter by Color-->
            <!-- <div class="widget">
              <h3 class="widget-title">Color</h3>
              <div class="d-flex flex-wrap">
                <div class="custom-control custom-option text-center mb-2 mx-1" style="width: 4rem;">
                  <input class="custom-control-input" type="checkbox" id="color-blue-gray">
                  <label class="custom-option-label rounded-circle" for="color-blue-gray"><span class="custom-option-color rounded-circle" style="background-color: #b3c8db;"></span></label>
                  <label class="d-block font-size-xs text-muted mt-n1" for="color-blue-gray">Blue-gray</label>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </aside>
      <!-- Content  -->
      <section class="col-lg-8">
        <!-- Toolbar-->
        <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
          <div class="d-flex flex-wrap">
            <!-- <div class="form-inline flex-nowrap mr-3 mr-sm-4 pb-3">
              <label class="text-light opacity-75 text-nowrap mr-2 d-none d-sm-block" for="sorting">Sort by:</label>
              <select class="form-control custom-select" id="sorting">
                <option>Sales Rank</option>
                <option>Low - Hight Price</option>
                <option>High - Low Price</option>
                <option>Average Rating</option>
                <option>A - Z Order</option>
                <option>Z - A Order</option>
              </select>
              {% if products_list %}<span class="font-size-sm text-light opacity-75 text-nowrap ml-2 d-none d-md-block">of {{ products_list|length}} products</span>{% endif %}
            </div> -->
          </div>
          {% if products.has_other_pages %}
          <div class="d-flex pb-3">
            {% if products.has_previous %}
            <a class="nav-link-style nav-link-light mr-3" href="?page={{ products.previous_page_number }}">
              <i class="czi-arrow-left"></i>
            </a>
            {% else %}
            <a class="nav-link-style nav-link-light mr-3" href="#">
              <i class="czi-arrow-left"></i>
            </a>
            {% endif %}
            <span class="font-size-md text-light">{% for i in products.paginator.page_range %}{% if products.number == i %} {{ i }} {% endif %}{% endfor %} / {{products.paginator.page_range|last }}</span>
            {% if products.has_next %}
            <a class="nav-link-style nav-link-light ml-3" href="?page={{ products.next_page_number }}">
              <i class="czi-arrow-right"></i>
            </a>
            {% else %}
            <a class="nav-link-style nav-link-light ml-3" href="#">
              <i class="czi-arrow-right"></i>
            </a>
            {% endif %}
          </div>
          {% endif %}
          <div class="d-none d-sm-flex pb-3">
            <a class="btn btn-icon nav-link-style bg-light text-dark disabled opacity-100 mr-2" href="#"><i class="czi-view-grid"></i></a>
            <!-- <a class="btn btn-icon nav-link-style nav-link-light" href="#"><i class="czi-view-list"></i></a> -->
          </div>
        </div>
        <!-- Products grid-->
        <div class="row mx-n2">
          <!-- Product-->
          {% for object in products %}
          <div class="col-md-4 col-sm-6 px-2 mb-4">
            <div class="card product-card"><span class="badge badge-danger badge-shadow">Sale</span>
              <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="czi-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="{{ object.get_absolute_url }}"><img  src="{{object.image.url}}" alt="Product" style="height:236px; display:block; margin:auto;"></a>
              <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1 center" href="{{ object.get_absolute_url }}">{{ object.brand }}</a>
                <h3 class="product-title font-size-sm"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
                <div class="d-flex justify-content-between">
                  <div class="product-price"><span class="text-accent">${{ object.get_lowest_price.price__min|floatformat:-2 }}</span>
                    {% comment %} <del class="font-size-sm text-muted">38.<small>50</small></del> {% endcomment %}
                  </div>
                  <div class="star-rating"><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i>
                  </div>
                </div>
              </div>
              <div class="card-body card-body-hidden">
                <input class="btn btn-primary btn-sm btn-block mb-2" type="button" onclick="window.location='{{ object.get_absolute_url }}';" value="Design & Buy">
                <!-- <button class="btn btn-primary btn-sm btn-block mb-2" type="button" data-toggle="toast" href="{{ object.get_absolute_url }}"><i class="czi-edit font-size-sm mr-1"></i>Customize</button> -->
              </div>
            </div>
            <hr class="d-sm-none">
          </div>
          {% endfor %}
          <!-- Product-->
        </div>
        <!-- Banner-->
        <!-- <div class="py-sm-2">
          <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden mb-4 rounded-lg">
            <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-center text-sm-left">
              <h4 class="font-size-lg font-weight-light mb-2">Converse All Star</h4>
              <h3 class="mb-4">Make Your Day Comfortable</h3><a class="btn btn-primary btn-shadow btn-sm" href="#">Shop Now</a>
            </div><img class="d-block ml-auto" src="{% static 'img/shop/catalog/banner.jpg' %}" alt="Shop Converse">
          </div>
        </div> -->
        <!-- Products grid-->
        <div class="row mx-n2">
          <!-- Product-->
          <!-- <div class="col-md-4 col-sm-6 px-2 mb-4">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="czi-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="{{ object.get_absolute_url }}"><img src="{% static 'img/shop/catalog/15.jpg' %}" alt="Product"></a>
              <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Men’s Waistcoats</a>
                <h3 class="product-title font-size-sm"><a href="{{ object.get_absolute_url }}">Single-breasted Trenchcoat</a></h3>
                <div class="d-flex justify-content-between">
                  <div class="product-price"><span class="text-accent">$79.<small>99</small></span></div>
                  <div class="star-rating"><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i>
                  </div>
                </div>
              </div>
              <div class="card-body card-body-hidden">
                <div class="text-center pb-2">
                  <div class="custom-control custom-option custom-control-inline mb-2">
                    <input class="custom-control-input" type="radio" name="size8" id="m7">
                    <label class="custom-option-label" for="m7">M</label>
                  </div>
                  <div class="custom-control custom-option custom-control-inline mb-2">
                    <input class="custom-control-input" type="radio" name="size8" id="l7" checked>
                    <label class="custom-option-label" for="l7">L</label>
                  </div>
                  <div class="custom-control custom-option custom-control-inline mb-2">
                    <input class="custom-control-input" type="radio" name="size8" id="xl7">
                    <label class="custom-option-label" for="xl7">XL</label>
                  </div>
                </div>
                <button class="btn btn-primary btn-sm btn-block mb-2" type="button" data-toggle="toast" data-target="#cart-toast"><i class="czi-cart font-size-sm mr-1"></i>Make an Order</button>
                <div class="text-center"><a class="nav-link-style font-size-ms" href="#quick-view" data-toggle="modal"><i class="czi-eye align-middle mr-1"></i>Quick view</a></div>
              </div>
            </div>
          </div> -->
        </div>
        <hr class="my-3">

        
        <!-- Pagination-->
        {% if products.has_other_pages %}
        <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
          {% if products.has_previous %}
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}"><i class="czi-arrow-left mr-2"></i>Prev</a></li>
          </ul>
          {% else %}
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><i class="czi-arrow-left mr-2"></i>Prev</a></li>
          </ul>
          {% endif %}
          <ul class="pagination">
            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
              <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
            {% else %}
              <li class="page-item d-none d-sm-block"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
          {% if products.has_next %}
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">Next<i class="czi-arrow-right ml-2"></i></a></li>
          </ul>
          {% else %}
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" aria-label="Next">Next<i class="czi-arrow-right ml-2"></i></a></li>
          </ul>
          {% endif %}
        </nav>
        {% endif %}
      </section>
    </div>
  </div>
  <!-- Toast: Added to Cart-->
  <div class="toast-container toast-bottom-center">
    <div class="toast mb-3" id="cart-toast" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-success text-white"><i class="czi-check-circle mr-2"></i>
        <h6 class="font-size-sm text-white mb-0 mr-auto">Added to cart!</h6>
        <button class="close text-white ml-2 mb-1" type="button" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="toast-body">This item has been added to your cart.</div>
    </div>
  </div>
  <!-- Footer-->