{% extends "admin/base_site.html" %}
{% block extrastyle %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
</style>
<!-- END font importlari -->
{% endblock %}
{% load static %}
{% block title %}
  Order Item
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a> 
    &rsaquo;
    <a href="{% url 'admin:orders_order_changelist' %}">Orders</a>
    &rsaquo;
    <a href="{% url 'orders:admin_order_detail' order_item.order.id %}">Order #{{ order_item.order.id }}</a>
    &rsaquo;
    <a>Order Item #{{ order_item.id }}</a>
</div>
{% endblock %}



{% block extrahead %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Vendor scrits: js libraries and plugins-->
<!-- <script src="{% static 'vendor/jquery/dist/jquery.slim.min.js' %}"></script> -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/bs-custom-file-input/dist/bs-custom-file-input.min.js' %}"></script>
<script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'vendor/tiny-slider/dist/min/tiny-slider.js' %}"></script>
<script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
<!-- Include Fabric.js and other requirements in the page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.1.0/fabric.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.1.0/fontfaceobserver.js"></script>
<!-- Main theme script-->
<script src="{% static 'js/theme.min.js' %}"></script>
<script>
    
$( document ).ready(function() {
    var canvas = new fabric.Canvas('tshirt-canvas');
    var json_content = $('#json_content').val();
    //console.log(json_content);
    var obj = JSON.parse(json_content)
    Object.keys(obj).forEach(function(k){
        console.log(k + ' - ' + obj[k]);
    });
    
    setTimeout(function(){canvas.loadFromJSON(json_content)} ,2000);
    

    $('#load-from-db').on('click', function(){
        canvas.loadFromJSON(json_content);
    });

    $('#exportToPNG').on('click', function(){
        $('#tshirt-canvas').get(0).toBlob(function(blob){
            saveAs(blob, 'canvas.png')
        })
    });

    document.addEventListener("keydown", function(e) {
      var keyCode = e.keyCode;
      if(keyCode == 46){
          canvas.remove(canvas.getActiveObject());
      }
    }, false);

    var onObjectSelected = function (){
        $('#type span[class=replace]').append(canvas.getActiveObject().type)
        $('#text').append(canvas.getActiveObject().text)
        $('#font-family').append(canvas.getActiveObject().fontFamily)
        $('#font-color').append(canvas.getActiveObject().fill)
        $('#font-size').append(canvas.getActiveObject().fontSize)
        $('#font-weight').append(canvas.getActiveObject().fontWeight)
        $('#font-style').append(canvas.getActiveObject().fontStyle)
        $('#underline').append(canvas.getActiveObject().underline)
        $('#spacing').append(canvas.getActiveObject().charSpacing)
        $('#outline').append(canvas.getActiveObject().stroke)
        $('#shadow').append(canvas.getActiveObject().shadow.color)        
        console.log('selected')
        $('#font-info').css({display: 'block'})
        canvas.requestRenderAll();

    }

    var onObjectUnSelected = function(){
        console.log('deselected')
        $('.replaceme').html('kk');
        // $('#font-info > tbody > tr > td').parent('tr').empty();
    }

    canvas.on('selection:created', onObjectSelected);
    canvas.on('selection:cleared', onObjectUnSelected);

    $( "#exportToPNG" ).mouseover(function() {
    canvas.discardActiveObject();
    canvas.renderAll();
  });

    
});
</script>
{% endblock %}

{% block content %}
{% if order_item.order.status == '4' %} <h1 style="background-color: red; color: white;">This order has been cancelled</h1>{% endif %}
<h2>Order Item #{{ order_item.id }}</h2>
<p>Order: #{{ order_item.order.id }}</p>
<p>Item: #{{ order_item.id }}</p>
<br>
<button id="load-from-db">Load from database</button>
<button id="exportToPNG">Export to PNG</button>
<br>
<br>
<table id="font-info" style="display: none;">
    <tr>
      <th>Type</th>
      <th>Text</th>
      <th>Font Family</th>
      <th>Font Color</th>
      <th>Font Size</th>
      <th>Font Weight</th>
      <th>Font Style</th>
      <th>Underline</th>
      <th>Spacing</th>
      <th>Outline</th>
      <th>Shadow</th>
    </tr>
    <tr>
      <td id="type"><span class="replace"></span></td>
      <td id='text'></td>
      <td id='font-family'></td>
      <td id='font-color'></td>
      <td id='font-size'></td>
      <td id='font-weight'></td>
      <td id='font-style'></td>
      <td id='underline'></td>
      <td id='spacing'></td>
      <td id='outline'></td>
      <td id='shadow'></td>
    </tr>
  </table>
<p>
    <input type="hidden" name="json_content" id="json_content" value="{{ order_item.dump_json }}">
    <!-- <textarea name="json_content" id="json_content" cols="30" rows="10">{{ order_item.dump_json }}</textarea> -->
</p>

<div id="drawingArea" style="background-color: #e2e3db; width: 1400px; height: 1200px; position: absolute;z-index: 10; border: 1px dashed #B2CCFF;">
    <canvas id="tshirt-canvas" width="1400" height="1200"></canvas>
</div>
{% endblock %}